doctype html
head
  title Socket.IO chat
  link(rel='stylesheet', href='css/style.css')

ul#messages
form(action='')
  input#m(autocomplete='off')
  button Send

script(src='/socket.io/socket.io.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js')
script(src='js/app.js')